*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    max-width: 1180px;
}

span{
    color: #F00;
}

/*       Header Style    */
.header{
    margin: 50px auto;
    width: 1180px;
    height: 550px;
}
.banner{
    
    height: 550px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner-container{
    margin: 0px auto;
    padding-top: 130px;
    width: 532px;
    text-align: center;
    justify-content: center;
}

.sub-title{
    color: orange;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    word-spacing: 3px;
}

.title{
    color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    font-size: 65px;
    font-weight: 900;
    margin-top: 0px;
}
/*  Section 1 styling   */
section{
    max-width: 1180px;
    margin: 0px auto;
}
.section-container{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}
.section-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0px;
}
.section-sub-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 30px;
}
.section-description{
    color: #070211;
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
}
.sectiom-image{
    width: 550px;
    height: 450px;
    
}

/*  Section 2 Styles    */
.party-container{
    padding: 0px 100px;
    height: 550px;
    background-image: url('images/vector.png');
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.party{

}

.party-title{
    width: 520px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 40px;
}
.party-description{
    width: 530px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.party a{
    padding: 25px 35px;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 50px;
}

.party-image{
    width: 300px;
    height: 330px;
}
/* section 3 styling  */

.hotel-container{
    margin: 100px 0px;
    padding: 100px 0px;
    border-radius: 10px;
    background-color: #f8e3d5;
    text-align: center;
}
.h-title{
    color: #070211;
    font-size: 35px;
    font-weight: 600;
}

.btn-primary{
    margin-top: 40px;
    background: #F00;
    padding: 20px 80px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;

}
/*    section 4 styling   */

.section4-container{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.section-offer{
    width: 320px;
}

.sec-sub-title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}


.sec-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}
.sec-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/*  section image   */

.sec-image {
    padding: 20px 20px;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    
}
.sec-image img{
    height: 240px;
    width: 240px;
}

/*  section 2024  */

.section-2024{
    width: 300px;
}

.title-2024{
    font-size: 35px;
    font-weight: 700;
    
}

.sec-description{

}

.section-2024 img{
    margin-top: 10px;
  width: 120px;
  height: 150px;
}

/*    section  5    */

.function-heading{
    width: 700px;
    text-align: center;
    margin: 50px auto;
    padding: 50px 0px;
}
.function-sub-title{
    color: #070211;
}

.function-title{
    color: #070211;
    font-size: 45px;
    font-weight: 800;
}

.function-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.function-content{ 
    position: relative;
}

.function-image{
    position: absolute;
}
.function-image .image1{
    width: 380px;
    height: 406px;
    float: right;
}
.function-image .image2{
    width: 100%;
    height: 180px;
    border-radius: 8px 0px 8px 8px;
}

.function-image .image3{
    height: 400px;
    width: 410px;
    position: relative;
    bottom: -140px;
    left: 120px;
}

.function-image .image4{
    width: 230px;
    height: 236px;
    position: absolute;
    left: 680px;
    top: 90px;
}

/*       section 6  styling    */

.gift-container{
    margin: 100px 0px;
}

.gift-container h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.gift-content h1{
    font-size: 35px;
    color: #070211;
    font-weight: 800;
    margin: 0px;

}

.gift-content p{
    width: 800px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.gift-option{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.gift-option a img{
    border-radius: 16px;
    width: 360px;
    height: 380px;
    box-shadow: 4px 4px 12px 3px rgb(145, 135, 135);
}


/* section 7 styling   */


.subscribe-container{
    width: 1140px;
    margin: 100px auto;
    padding: 100px 0px;
    text-align: center;
    border-radius: 16px;
    background: rgba(148, 6, 6, 0.05);
}
.subscribe-container img{
    width: 150px;
    height: 150px;
}

.subscribe-content{
    width: 800px;
    margin: 0px auto;
}
.subscribe-content h1{
    color: #070211;
    font-size: 35px;
    font-weight: 800;
    margin: 50px 0px 0px 0px;
}
.subscribe-content p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

form{
    max-width: 600px;
    margin: 0px auto;
    padding: 30px;
    display: flex;
}

form input{
    background: #FFF;
    width: 400px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    flex-grow: 1;
}

form input::placeholder{
    font-size: 20px;
    padding-left: 7px;
}
.btn-subscribe{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
    color: white;
}

/*      footer styling       */

footer{
    background-color: #070211;
}
.footer-container{
    margin: 0px auto;
    padding: 40px 0px;
    width: 1140px;

}
.footer-up, .footer-down{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-up h5{
    margin-bottom: 8px;
    font-size: 16px;
    color: #FFF;
}
.content1, .content2{
    margin-bottom: 8px;
    display: flex;
}
.content1 h5{
    font-size: 16px;
}
.content2 h5{
    font-size: 16px;
}
.content1 img{
    margin-right: 15px;
}
.content2 img{
    margin-right: 15px;
}

.footer-middle{
    width: 400px;
    margin: 0px auto;
}
.footer-middle img{
    width: 50px;
    height: 50px;
    padding: 30px 20px;
}
.footer-down h5{
    margin-top: 12px;
    font-size: 16px;
    color: #FFF;
}
hr{
    background: rgba(0, 0, 0, 0.15);
}